<!-- <h1>Contact Information</h1>

<h2>Please fill out your contact information below</h2>

<label>Name*</label><br>
<input class="" type="text">
<input type="text"><br>

<label>Email*</label><br>
<input type="email"><br>

<label>Phone*</label><br>
<input type="number"><br>

<label>Address*</label><br>
<input type="text"> -->

<div class="container">
  <div class="Contact">
    <h1 style="color: darkorchid;">Contact our custome support centre</h1>
    <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/3.jpg">
  </div>


  <div class="centre">
    <h1>Contact information</h1>
    <h2>Please fill out contact information below</h2>
  </div>

  <form>
    <div class="formgroup">
      <label>Name*</label><br>
      <input type="text" id="fname">
      <input type="text" id="lname"><br>
      <label class="first">First Name</label>
      <label class="last">Last Name</label>
    </div><br>

    <div class="formgroup">
      <label>Email*</label><br>
      <input type="email" id="mail">
      </div><br>

      <div class="formgroup">
        <label>Phone*</label>
        <input type="tel id=phone">
      </div><br>

      <div class="formgroup">
        <label>Address*</label>
        <input type="text" id="add">
      </div><br>

  </form>
</div>
<router-outlet></router-outlet>
